[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# from requirements.txt

[dev-packages]
paramiko = ">=2.7.2"
PyYAML = ">=5.4.1"

[requires]
python_version = "3"
